# File: .gitignore

# Bỏ qua các file build
target/
build/

# Bỏ qua IDE settings
.idea/
*.iml

/BE/src/main/resources/application-*.properties


### application.properties ###
**/application.properties
