SPRING_PROFILE=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET_KEY=
JWT_ACCESS_EXPIRATION_TIME=
JWT_REFRESH_EXPIRATION_TIME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAIL_USERNAME=
MAIL_PASSWORD=

MULTIPART_MAX_REQUEST_SIZE=
MULTIPART_MAX_FILE_SIZE=

OAUTH2_REDIRECT_URI=
OAUTH2_GOOGLE_CLIENT_ID=
OAUTH2_GOOGLE_CLIENT_SECRET=
OAUTH2_GOOGLE_SCOPE=

OAUTH2_FACEBOOK_CLIENT_ID=
OAUTH2_FACEBOOK_CLIENT_SECRET=
OAUTH2_FACEBOOK_SCOPE=
OAUTH2_FACEBOOK_PROVIDER=
OAUTH2_FACEBOOK_AUTHORIZATION_URL=
OAUTH2_FACEBOOK_TOKEN_URI=
OAUTH2_FACEBOOK_USER_INFO_URI=
OAUTH2_FACEBOOK_USERNAME_ATTRIBUTE=

REDIS_HOST=
REDIS_PORT=
REDIS_CLIENT_NAME=
REDIS_PASSWORD=
REDIS_DATABASE=

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_LASTNAME=
ADMIN_FIRSTNAME=
ADMIN_EMAIL=